h1 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    margin-top: 80px;
}

.boxesRow{
    height: 300px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.firstDiv{
    background: red;
    border: 3px solid #000;
}

.secondDiv{
    background: blue;
    border: 3px dashed yellow;
    margin-right: 15px;
    margin-left: 15px;

}

.thirdDiv{
    background: limegreen;
    border: 3px solid purple;
}

.changeTitle{
    color: blue;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

span{
    background: gray;
    font-size: 25px;
}